html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18pt;
  padding: 2rem 2rem;
  margin: auto;
  max-width: 600px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.title-panel {
  width: 100%;
}

.title {
  text-align: center;
}

.title>span {
  display: inline-block;
  font-size: 250%;
  font-weight: bold;
  background-color: rgb(41, 79, 225);
  color: rgb(227, 160, 153);
  border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.title-panel img {
  width: 80%;
  border-radius: 2rem;
  margin: auto;
}

.subtitle {
  margin: 2rem;
  font-size: 120%;
  line-height: 120%;

  text-align: center;
  font-style: italic;
}

.panel {
  padding: 1rem;
  margin-top: 4rem;

  /* box-shadow: 0 0 10px 5px black; */
  /* border: 2px solid black; */
  background-color: rgb(178, 92, 223);

  border-radius: 2rem;
}

.panel-img {
  display: block;
  margin-top: 2.5rem;
  width: calc(100% + 4rem);
  margin-left: -2rem;
  /* border-radius: 2rem; */

  z-index: 1;
}

.panel-after-img {}

.panel-before-img {}

.panel-title {
  font-size: 160%;
  margin-bottom: 1rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;

  border-radius: 2rem;
  margin-top: -3rem;
  padding: 1rem 1rem;
  background-color: rgb(41, 79, 225);
  color: rgb(227, 160, 153);
}

.panel-text {
  padding: 1rem;
  padding-top: 0;
  font-size: 100%;
  color: white;
}
.panel-text > a {
  color: rgb(255, 205, 152);
}